
.bg-image{
 background-image: url(../images/mountains.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}

.navbar-expand-md .navbar-nav .nav-link{
  padding-right: initial; /* move nav items in line with icon on RHS*/
  color: rgb(226, 236, 80);
  font-weight: bold;
  font-size:  20px;
  text-align: center;
}

.collapse {
    background-color: rgba(0, 0, 0, 0.384);
}

.ps-0 {
  text-align: center;
}

main{
  display:inline-block;
  font-weight:bold;
  font-size:large;
  color: white;
}

.mask{
  padding-right:initial;
}

h2, h1, h4{
  text-decoration: underline;
}

.form-label {
  display:block;
  font-weight:bolder;
  color: rgb(226, 236, 80);
  text-decoration: underline;
}